.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  /** height: 150px; **/
  padding: 20px;
  color: white;
}

#header_link {
  color: white;
  font-size: 1.5em;
}

.container {
  max-width: 850px;
}

.App-intro {
  font-size: large;
}

.times-link-btn {
  background-image: none;
  text-shadow: none;
  background-color: #000000;
  color: #ffffff;
}

.Results-panel {
  margin-top: 25px;
}

.footer {
  
}
